<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="spring-boot-kafka-log" packages="com.reloadly">
    <Properties>
        <!-- Kafka & Log Analyzer Properties -->
        <Property name="bootstrap.servers">localhost:9092</Property>
        <Property name="log.analyzer.api.url">http://localhost:8080/api/admin/application/details</Property>
        <Property name="application.name">test</Property>
        <Property name="organization.name">Koushik</Property>
        <Property name="default.kafka.topic">logs.cics</Property>
        <Property name="apiKey">5e1e44fd-6adc-45e5-a66b-1779eca7f6a9</Property>
    </Properties>

    <Appenders>
        <Kafka name="Kafka" topic="${default.kafka.topic}">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"/>
            <Property name="bootstrap.servers">${bootstrap.servers}</Property>
        </Kafka>
        <Async name="Async">
            <AppenderRef ref="Kafka"/>
        </Async>

        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"/>
        </Console>

    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Kafka"/>
            <AppenderRef ref="stdout"/>
        </Root>
        <Logger name="org.apache.kafka" level="WARN" /><!-- avoid recursive logging -->
    </Loggers>
</Configuration>
