<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="spring-boot-kafka-log" packages="com.reloadly">
    <Properties>
        <!-- Kafka & Log Analyzer Properties -->
        <Property name="bootstrap.servers">${env:KAFKA_SERVERS}</Property>
        <!-- SASL Configuration -->
        <Property name="security.protocol">SASL_SSL</Property> <!-- Or SASL_SSL -->
        <Property name="sasl.mechanism">SCRAM-SHA-512</Property>
        <Property name="sasl.jaas.config">
            org.apache.kafka.common.security.scram.ScramLoginModule required
            username="${env:KAFKA_USERNAME}"
            password="${env:KAFKA_PASSWORD}";
        </Property>

        <!-- If mutual TLS is enabled (client certs), also add: -->
        <Property name="ssl.keystore.location">${env:SSL_KEYSTORE_PATH}</Property>
        <Property name="ssl.keystore.password">${env:SSL_KEYSTORE_PASSWORD}</Property>
        <Property name="ssl.key.password">${env:SSL_KEY_PASSWORD}</Property>

        <Property name="log.analyzer.admin.api.url">${env:LOGANALYZER_ADMIN_URL}/api/admin/application/details</Property>
        <Property name="application.name">${env:APPLICATION_NAME}</Property>
        <Property name="organization.name">${env:ORGANIZATION_NAME}</Property>
        <Property name="kafka.topic">${env:KAFKA_TOPIC}</Property>
        <Property name="apiKey">${env:LOG_ANALYZER_TOKEN}</Property>
    </Properties>

    <Appenders>
        <Kafka name="Kafka" topic="${kafka.topic}">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"/>
            <Property name="bootstrap.servers">${bootstrap.servers}</Property>
            <Property name="security.protocol">${security.protocol}</Property>
            <Property name="sasl.mechanism">${sasl.mechanism}</Property>
            <Property name="sasl.jaas.config">${sasl.jaas.config}</Property>

            <Property name="ssl.keystore.location">${ssl.keystore.location}</Property>
            <Property name="ssl.keystore.password">${ssl.keystore.password}</Property>
            <Property name="ssl.key.password">${ssl.key.password}</Property>
        </Kafka>
        <Async name="Async">
            <AppenderRef ref="Kafka"/>
        </Async>

        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"/>
        </Console>

    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Kafka"/>
            <AppenderRef ref="stdout"/>
        </Root>
        <Logger name="org.apache.kafka" level="WARN" /><!-- avoid recursive logging -->
    </Loggers>
</Configuration>
